<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <% if current_user && current_user.admin? %>
    <%= link_to t('admin.header.header'), admin_tests_path, class: 'navbar-link' %>
  <% end %>

  <% if user_signed_in? && !current_user.admin? %>
    <%= link_to t('.feedback'), new_feedback_path, class: 'navbar-link'%>
  <% end %>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome') %>, <b><%= current_user.email %></b> <%= t('.guru') %> |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to  t('.login'), new_user_session_path %> |
      <%= link_to  t('.signup'), new_user_registration_path %>
    <% end %>
  </span>
</nav>
