<tr>
  <td>
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="text-center"><%= test_level(test) %></td>
  <td class="text-center"><%= test.questions.count %></td>
  <td class="text-center"><%= test.passage_time %></td>
  <td class="text-center">
    <%= button_to t('.show'),
                  admin_test_path(test),
                  class: "btn btn-primary btn-sm",
                  method: :get %>
  </td>
  <td class="text-center">
    <%= button_to t('.edit'),
                  edit_admin_test_path(test),
                  data: { test_id: test.id },
                  class: "btn btn-warning btn-sm form-inline-link",
                  method: :get %>
  </td>
  <td class="text-center">
    <%= button_to t('.delete'),
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: t('.delete_confirm') },
                  class: "btn btn-danger btn-sm" %>
  </td>
</tr>
